head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
	//- meta(name="format-detection", content="telephone=no")
	link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
	link(rel='stylesheet', href='css/style.css')
	title Index
	script(src="js/jquery.min.js")
	script(src="js/custom.js")
	script.
		load.loadParts('header');
	style.
		.loader{position: fixed;left: 0;top: 0;bottom: 0;right: 0;z-index: 10;background-color: rgba(74,4,19,1);display: flex;align-items: center;justify-content: center;}.loader *{font-size: 90px;color: #fff;}