extends ../template/template.pug
block content
	.loader
		i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw

	.header(style="margin-bottom: 10px;")
		.container-fluid#header-forMenuTop
		.nav.container-fluid
			.container.flex-container.align-middle
				.content.left#header-forLogo
				.overflow-visible.content.center#header-forMenuMain
				.content.right#header-forMenuSearch
	.main