.menuTop
	.container
		.flex-container.align-justify.align-middle.wrapper
			p.font.white.text-uppercase 13 июля 16:14
			.menu.flex-container.align-middle
				a.font.text-uppercase.menu__item Баланс: 4,039 АЗН
				a.font.text-uppercase.menu__item Касса №100
				a.font.text-uppercase.menu__item.menu__link.menu__link--not-active Тестовый кассир
				.dropdown.dropdown--not-active
					a.dropdown__item(href="index4.html") Close shift
					a.dropdown__item(href="index7.html") Exit