.container.flex-container.prematch-content(style="margin-bottom: 10px")
	.content.left
		.tab
			.tab__header.tab__header--border.flex-container.align-middle
				a.font.tab__link.tab__link--active.flex-grow +12 Часов
				a.font.tab__link.flex-grow +24 Часа
				a.font.tab__link.flex-grow Все

	.content.center
		#prematch-forMainSearch(style="margin-bottom: 10px")
		.liveTitle.flex-container.align-middle.align-justify
			p.font.text-uppercase Prematch
			.liveTitle__desktop
			.liveTitle__close.close
		#prematch-forTable

	.content.right