.container.flex-container.live-content(style="margin-bottom: 10px")
	.content.left
		#live-forMainClassification(style="margin-bottom: 10px")

	.content.center
		#live-forMainSearch(style="margin-bottom: 10px")
		.liveTitle.flex-container.align-middle.align-justify
			p.font.text-uppercase Live
			.liveTitle__desktop
			.liveTitle__close.close
		#live-forTable

	.content.right