.select{
	width: 100%;
	position: relative;
	appearance: none!important;
	background-repeat: no-repeat;
	background-position: right center;
	text-indent: 0.01px;
	text-overflow: '';
	height: $base-height;
	padding: 5px 10px;
	background-position: right 10px top 50%	;
}