.table{
	background-color: #281420;
	width: 100%;
	.row{
		display: flex;
		align-items: center;
		width: 100%;
		height: $base-height;
		overflow: hidden;
		margin-bottom: 1px;
		&:last-child{
			margin-bottom: 0
		}
	}
	.cell{
		height: 100%;
		width: 100%;
		overflow: hidden;
		margin-right: 1px;
		&:last-child{
			margin-right: 0;
		}
	}
}