.flex-container.searchMain
	button.searchMain__inform
	button.button.square.primary.searchMain__button
	input.field.searchMain__field(type="text", placeholder="Умный поиск")
	.dropdown.dropdown--not-active
		p.font Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eius facilis in, nisi magnam temporibus incidunt inventore aliquid qui optio! In, dignissimos exercitationem facilis vitae nulla soluta eveniet eos? Molestias.